<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alex Honnold</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/works">Works</a>
        </div>
      </div>
    </div>
  </nav>
  <body>
    <div class="container">
      <h1>Alex Honnold</h1>
    </div>
    <div class="container">
      <img
        src="/images/Alex-honnold.jpeg"
        alt="Alex Honnols portrait"
        width="600"
      />
    </div>
    <div class="container">
      <p class="alex-paragraph">
        This is a web page dedicated to Alex Honnold and his achievements in big
        wall climbing!
      </p>
    </div>
    <div class="container">
      <div class="btn-group">
        <a href="/about" class="btn btn-primary">Read more!</a>
        <a href="/works" class="btn btn-primary">Works</a>
      </div>
    </div>
  </body>
</html>
