<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/works">Works</a>
        </div>
      </div>
    </div>
  </nav>
  <body>
    <div class="container">
      <h1>Work and achievements</h1>
    </div>
    <div class="container">
      <p>
        Honnold has an endless list of achevments in the climbing community
        which have now spilled over into the main stream.
      </p>
    </div>
    <div class="container">
      <img
        src="/images/honnold-free-solo.webp"
        alt="Alex Honnold climbing"
        width="600"
      />
    </div>

    <div class="container list-container">
      <h3>Climbing achievements</h3>
      <ul class="list-group">
        <li class="list-group-item">
          2018, The Nose (VI 5.8 A2),[29] Yosemite, California, El Capitan, –
          Speed record of 1:58:07 with Tommy Caldwell
        </li>
        <li class="list-group-item">
          2017, Freerider (5.12d VI), Yosemite, California, El Capitan, – First
          Free solo
        </li>
        <li class="list-group-item">
          2016, Complete Scream (E8 6b), Northern Ireland, United Kingdom – Free
          solo
        </li>
        <li class="list-group-item">
          2014, University Wall (5.12a C2, 8 pitch), Squamish, British Columbia,
          Canada – First free solo
        </li>
        <li class="list-group-item">
          2014, El Sendero Luminoso (5.12d V, 1,750 ft, 15 pitch), El Potrero
          Chico, Mexico – First free solo ascent, ~ 3 hours
        </li>
      </ul>
    </div>
    <div class="container">
      <h3>Filmography</h3>
    </div>
    <div class="container list-container">
      <ul class="list-group">
        <li class="list-group-item">Fine Lines (2019)</li>
        <li class="list-group-item">
          The Nose Speed Record (reel rock 14) (2019)
        </li>
        <li class="list-group-item">Free Solo (2018)</li>
        <li class="list-group-item">Queen Maud Land (2018)</li>
        <li class="list-group-item">Africa Fusion (2016)</li>
      </ul>
    </div>
    <div class="container">
      <h3>Awards</h3>
    </div>
    <div class="container list-container">
      <ul class="list-group">
        <li class="list-group-item">
          2018: Special mention of Piolets d'Or for his outstanding contribution
          to climbing during 2017
        </li>
        <li class="list-group-item">
          2018: Robert and Miriam Underhill Award from American Alpine Club, for
          excellence in various fields of climbing
        </li>
        <li class="list-group-item">
          2015: Honnold together with Tommy Caldwell was awarded the Piolets
          d'Or, for the first full traverse of the Fitz Roy Range in Patagonia,
          Argentina
        </li>
        <li class="list-group-item">
          2010: Golden Piton award from Climbing magazine, for endurance
          climbing
        </li>
      </ul>
    </div>
  </body>
</html>
