body {
  background-color: slategray;
  font: normal 18px Verdana, Arial, sans-serif;
  color: white;
}

.navbar {
  background-color: slategray;
}
.container {
  display: flex;
  justify-content: center;
}

.alex-paragraph {
  padding-top: 20px;
}
.list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
h3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
